<form class="navbar bg-color">
	<div class="container row">
		
		<div *ngFor="let radio of radios" class="col-2 mr-auto">
			<input
			type="radio"
			name="radioTrip"
			value="{{radio}}"
			(change)="radioChangeHandler($event)">
			
			<b class="boja1">{{radio}}</b>
		</div>

		<div *ngIf="selectedRadio=='Round-trip'">
			<div class="form-group row col">
				<div class="col-4">
					<input class="form-control" type="text" id="name" placeholder="From"
						formControlName="name">
				</div>
				
				<div class="col-4">
					<input class="form-control" type="text" id="name" placeholder="To"
						formControlName="name">
				</div>
				<div class="col-4">
					<input 
					type="text"
					class="form-control" 
					placeholder="Depart-Return" 
					bsDaterangepicker
					[minDate]="minDate"
					[bsConfig]="{containerClass:'theme-default'}">
				</div>
		
			</div>
		</div>
	
		<div *ngIf="selectedRadio=='One way'">
			<div class="form-group row col">
				<div class="col-4">
					<input class="form-control" type="text" id="name" placeholder="From"
						formControlName="name">
				</div>
				
				<div class="col-4">
					<input class="form-control" type="text" id="name" placeholder="To"
						formControlName="name">
				</div>
				<div class="col-4">
					<input class="form-control" placeholder="Depart"
					bsDatepicker
					[bsConfig]="{ isAnimated: true}"
					[bsConfig]="{containerClass: 'theme-default'}"
					[minDate]="minDate">
				</div>
			</div>
		</div>
	
		<div *ngIf="selectedRadio=='Multi-city'">
			<div class="form-group row col">
				<div class="col-4">
					<input class="form-control" type="text" id="name" placeholder="From"
						formControlName="name">
				</div>
				
				<div class="col-4">
					<input class="form-control" type="text" id="name" placeholder="To"
						formControlName="name">
				</div>
				<div class="col-4">
					<input class="form-control" placeholder="Depart"
					bsDatepicker
					[bsConfig]="{ isAnimated: true}"
					[bsConfig]="{containerClass: 'theme-default'}"
					[minDate]="minDate">
				</div>
			</div>
			<div class="form-group row col">
				<div class="col-4">
					<input class="form-control" type="text" id="name" placeholder="From"
						formControlName="name">
				</div>
				
				<div class="col-4">
					<input class="form-control" type="text" id="name" placeholder="To"
						formControlName="name">
				</div>
				<div class="col-4">
					<input class="form-control" placeholder="Depart"
					bsDatepicker
					[bsConfig]="{ isAnimated: true}"
					[bsConfig]="{containerClass: 'theme-default'}"
					[minDate]="minDate">
				</div>
			</div>
			<button type="button" class="mt-n2 bg-light-b boja dugme col-3 ml-3">+ Add another flight</button>
		</div>
		
		
	</div>
	<button type="button" class=" mb-sm-0 ml-auto mt-n6 bg-light-b boja dugme col-1">Search</button>
	
</form>