<form class="header">
	<div class="form-group row">
		<div class="col-3">
			<input class="form-control" type="text" id="name" placeholder="From"
				formControlName="name">
		</div>

		
		<div class="col-3">
			<input class="form-control" type="text" id="name" placeholder="To"
				formControlName="name">
		</div>
		<div class="col-2">
			<input class="form-control" placeholder="Depart">
		</div>
		<div class="col-2">
			<input class="form-control" placeholder="Return">
		</div>

		<button type="button" class="bg-light boja">Search</button>
	</div>
</form>