
	<form class="form-group">
        <br>
        
    <h3 class="boja1"><u><b>Recommendations for you</b></u></h3>
	<div class="row">
        <div class="col-2 boja1">
            <h4>Maldivi</h4>
            <a href="" target="_blank">
            <img class="slika" rel="stylesheet" type="image/x-icon" src="assets/images/maldivi.jpg">
            </a>
        </div>
        <div class="col-2 boja1">
            <h4>Moskva</h4>
            <a href="" target="_blank">
                <img class="slika" rel="stylesheet" src="assets/images/moskva.jpg">
            </a>
        </div>
        <div class="col-2 boja1">
            <h4>Kuba</h4>
            <a href="" target="_blank">
                <img class="slika" rel="stylesheet" src="assets/images/kuba.jpg">
            </a>
        </div>
        <div class="col-2 boja1">
            <h4>Madrid</h4>
            <a href="" target="_blank">
                <img class="slika" rel="stylesheet" src="assets/images/madrid.jpg">
            </a>
        </div>
        <div class="col-2 boja1">
            <h4>Lisabon</h4>
            <a href="" target="_blank">
                <img class="slika" rel="stylesheet" src="assets/images/lisabon.jpg">
            </a>
        </div>
        <div class="col-2 boja1">
            <h4>Barselona</h4>
            <a href="" target="_blank">
                <img class="slika" rel="stylesheet" src="assets/images/barselona.jpg">
            </a>
        </div>
        <br>
        <h1> <br></h1>
    </div>
</form>