<form class="bg-color">
    <div class="form-group col">
        <div class=" col-4">
            <label class="boja1 col">Name</label>
            <div class="col">
                <input class="form-control" type="text" id="name" placeholder="Name"
                formControlName="name">
            </div>
        </div>
        <div class=" col-4">
            <label class="boja1 col">Lastname</label>
            <div class="col">
                <input class="form-control" type="text" id="lastname" placeholder="Lastname"
                formControlName="lastname">
            </div>
        </div>
        <div class=" col-4">
            <label class="boja1 col">Username</label>
            <div class="col">
                <input class="form-control" type="text" id="username" placeholder="Username"
                formControlName="username">
            </div>
        </div>

        <div class="col-4">
            <label class="boja1 col">Password</label>
            <div class="col">
                <input class="form-control" type="password" id="password" placeholder="Password"
                formControlName="password">
            </div>
        
        </div>
        <div class="col-4">
            <label class="boja1 col">Password repeat</label>
            <div class="col">
                <input class="form-control" type="password" id="passwordRepeat" placeholder="Password repeat"
                formControlName="passwordRepeat">
            </div>
        </div>
        
    </div>
    <button type="submit" class="ml-5 bg-light-b boja dugme col-1">Sing in</button>
    
</form>
