<form class="bg-color">
    <div class="form-group col">
        <div class=" col-4">
            <label class="boja1 col">Ime</label>
            <div class="col">
                <input class="form-control" type="text" id="name" placeholder="Name"
                formControlName="name">
            </div>
        </div>
        
        <div class="col-4">
            <label class="boja1 col">Sifra</label>
            <div class="col">
                <input class="form-control" type="password" id="password" placeholder="Password"
                formControlName="name">
            </div>
        
        </div>
        
    </div>
    <button type="submit" class="ml-5 bg-light-b boja dugme col-1">Sing in</button>
    
</form>
